<!doctype html>
<html class="no-js" lang="pl" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="modules/main/SidebarCtrl.js"></script>
    <script src="modules/main/LoginCtrl.js"></script>
    <script src="modules/main/LogoutCtrl.js"></script>
</head>

<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Ksiegarnia bezpieczna</a></h1>
            </li>
        </ul>
    </nav>
    <div>
        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>You wrote: {{firstName}}</p>
    </div>
</body>
</html>